:root {
  color-scheme: light dark;
}
* {
  box-sizing: border-box;
}

TABLE.form INPUT:not([type="checkbox"]):not([type="radio"]),
TABLE.form SELECT,
TABLE.form TEXTAREA,
TABLE.form BUTTON {width: 100%;}
TABLE.form .pair SELECT:nth-child(1) {
  width: 60%;
}
TABLE.form .pair SELECT:nth-child(2),
TABLE.form .pair INPUT:nth-child(2) {
  width: 40%;
}
TABLE.form TH:first-child {
  text-align: right;
  width: 1em;
  /* disable text wrapping */
  white-space: nowrap;
  padding-right: 0.25em;
}
TABLE.form TD:nth-child(2) {
  width: 30em; /* wide enough for the "System -> System (type, dist)" */
}
TABLE.form TD {
  vertical-align: top;
}

TABLE.jumpSummary TH,
TABLE.jumpSummary TD {
  text-align: right;
  white-space: nowrap;
  padding-right: 0.5em;
}
